#Ignore anything in auto-save-list
auto-save-list/
ac-comphist.dat
/ergoemacs-extras/ergo-layouts/ergoemacs-layout-us-prefix.svg
/ergoemacs-extras/ergo-layouts/ergoemacs-layout-us.svg
ede-projects.el
session*

